<h2>My Heroes</h2>
<!-- The *ngFor is Angular's repeater directive. It repeats the host element for each element in a list-->
<ul class="heroes">
  <a *ngFor="let hero of heroes" >
    <!-- (click) event handler handles actions if case of click events-->
    <!-- [class.some-class] can add / remove css classes conditionally   -->
    <button type="button" routerLink="/detail/{{hero.id}}" [class.selected]="hero === selectedHero">
      <span class="badge">{{hero.name}}</span>
      <span class="name">{{hero.id}}</span>
    </button>
  </a>
</ul>


